<!DOCTYPE html>
<html>
<head>
    <title>幻想乡多人博客平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/stylesheets/bootstrap.min.3-3-0.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/bootstrap-admin-theme.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <!-- CuFon ends -->
</head>
<body>
<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="logo">
                <h1><a href="/">理想乡</a><span>多人博客平台</span></h1>
            </div>
            <div class="clr"></div>
            <div class="menu_nav">
                <ul>
                    <% if (href == '') { %> <li class="active"><% } else { %><li><% } %><a href="/">首页</a></li>
                    <% if (href == 'posts') { %> <li class="active"><% } else { %><li><% } %><a href="/posts">热门文章</a></li>
                    <% if (href == 'albums') { %> <li class="active"><% } else { %><li><% } %><a href="/albums">精彩相册</a></li>
                    <% if (href == 'ranklist') { %> <li class="active"><% } else { %><li><% } %><a href="/ranklist">排行榜</a></li>
                    <% if (user) { %>
                        <% if (href == 'blog') { %> <li class="active"><% } else { %><li><% } %><a href="/space/<%= user.name %>">我的博客</a></li>
                    <% } %>
                </ul>
                <div class="search">
                    <form id="form" name="form" method="post" action="/search">
                        <div class="input-group">
                            <input  id="content" name="content" type="text" maxlength="50" value="<% if(con && con.content !== false) {%><%= con.content %><%}%>"/>
                            <select id="type" name="type" style="height: 26px">
                                <option <% if(con && con.type == '0') {%>selected="selected"<%}%> value="0">标题</option>
                                <option <% if(con && con.type == '1') {%>selected="selected"<%}%> value="1">标签</option>
                                <option <% if(con && con.type == '2' || href == 'albums') {%>selected="selected"<%}%> value="2">相册</option>
                            </select>
                            <button type="submit" maxlength="50" value="Go" >Go</button>
                        </div>
                    </form>
                </div>
                <!--/search -->
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <div class="clr"></div>