<%- include header %>
<div class="content">
    <div class="content_resize">

        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/images/1_2.jpg" height="100%" width="100%" alt="First slide">
                    <div class="banner-title">
                        <div class="container">
                            <div  id="top" class="callbacks_container">
                                <ul class="rslides" id="slider3">
                                    <li><h1>Molestias excepturi sintprovident</h1></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/blog_default_background.jpg" height="100%" width="100%" alt="Second slide">
                    <div class="banner-title">
                        <div class="container">
                            <div  id="top" class="callbacks_container">
                                <ul class="rslides" id="slider3">
                                    <li><h1>Two excepturi sintprovident</h1></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/1_2.jpg" height="100%" width="100%" alt="Third slide">
                    <div class="banner-title">
                        <div class="container">
                            <div  id="top" class="callbacks_container">
                                <ul class="rslides" id="slider3">
                                    <li><h1>Third excepturi sintprovident</h1></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/blog_default_background.jpg" height="100%" width="100%" alt="Second slide">
                    <div class="banner-title">
                        <div class="container">
                            <div  id="top" class="callbacks_container">
                                <ul class="rslides" id="slider3">
                                    <li><h1>Four excepturi sintprovident</h1></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
        </div>
        <br />

        <div class="mainbar">
            <div class="article">
                <h2><span>Template License</span></h2>
                <div class="clr"></div>
                <p>Posted on 18. Sep, 2015 by Sara in Filed under templates, internet,  with  Comments 18</p>
                <img src="images/img_1.jpg" width="613" height="193" alt="image" />
                <div class="clr"></div>
                <p>This is a free CSS website template by CoolWebTemplates. This
                    work is distributed under the Creative Commons Attribution 3.0 License,
                    which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a>.</p>
                <p>Maecenas dignissim mauris in arcu congue tincidunt. Vestibulum elit  nunc, accumsan vitae faucibus vel, scelerisque a quam. Aenean at metus id elit bibendum faucibus. Curabitur ultrices ante nec neque consectetur a aliquet libero lobortis. Ut nibh sem, pellentesque in dictum eu, convallis blandit erat. Cras vehicula tellus nec purus sagittis id scelerisque risus congue. Quisque sed semper massa. Donec id lacus mauris, vitae pretium risus. Fusce sed tempor erat. </p>
                <p><a href="#">Read more </a></p>
            </div>
            <div class="article">
                <h2><span>Aliquam Risus</span> Justo</h2>
                <div class="clr"></div>
                <p>Posted on 18. Sep, 2015 by Sara in Filed under templates, internet,  with  Comments 18</p>
                <img src="images/img_1.jpg" width="613" height="193" alt="image" />
                <div class="clr"></div>
                <p>This is a free CSS website template by CoolWebTemplates. This
                    work is distributed under the Creative Commons Attribution 3.0 License,
                    which means that you are free to use it for any personal or commercial purpose provided you credit me in the form of a link back to <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a>.</p>
                <p>Maecenas dignissim mauris in arcu congue tincidunt. Vestibulum elit  nunc, accumsan vitae faucibus vel, scelerisque a quam. Aenean at metus id elit bibendum faucibus. Curabitur ultrices ante nec neque consectetur a aliquet libero lobortis. Ut nibh sem, pellentesque in dictum eu, convallis blandit erat. Cras vehicula tellus nec purus sagittis id scelerisque risus congue. Quisque sed semper massa. Donec id lacus mauris, vitae pretium risus. Fusce sed tempor erat. </p>
                <p><a href="#">Read more </a></p>
            </div>
            <div class="article" style="padding:5px 20px 2px 20px; background:none; border:0;">
                <p>Page 1 of 2 <span class="butons"><a href="#">3</a><a href="#">2</a> <a href="#" class="active">1</a></span></p>
            </div>
        </div>
<%- include rightbar %>
<%- include footer %>