<%- include header %>
<%- include leftbar %>
<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header bootstrap-admin-content-title">
                <h1>新增公告</h1>
            </div>
            <form class="form-horizontal" method="post" role="form" id="myform" style="padding-top: 2em"  enctype='multipart/form-data' onsubmit="sumbitFrom()">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">公告标题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">公告正文：</label>
                    <div class="col-sm-9" >
                        <textarea class="form-control" rows="12" name="content" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">公告图片：</label>
                    <div class="panel panel-default col-sm-9" style="margin-left:15px;text-align: center;line-height: 400px;vertical-align: middle;display: table-cell;cursor: pointer;" onclick="chooseFile('background-file')">
                        <div class="panel-body">
                            <image id="background" src="http://ico.ooopic.com/iconset01/webdesigncreative/gif/62536.gif"></image>
                        </div>
                    </div>
                </div>
                <input type="file" id="background-file" name="background" style="display: none" onchange="changBackground(this, 'background', 650, 400)">
                <input type="text" id="flag" style="display: none" value="0">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info">发表</button>
                        <button type="button" class="btn btn-info">预览</button>
                        <button type="button" class="btn btn-danger">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

    </div>
</div>
</div>
</div>

<%- include footer %>

