<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/javascripts/admin/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/admin/twitter-bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/javascripts/admin/bootstrap-admin-theme-change-size.js"></script>
</body>
</html>