<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/main/inidex">幻想乡多人博客平台</a>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</nav>

<div class="container">
    <!-- left, vertical navbar & content -->
    <div class="row">
        <!-- left, vertical navbar -->
        <div class="col-md-2 bootstrap-admin-col-left">
            <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                <li <% if(href === '') { %>class="active" <% } %>>
                    <a href="/main/index"><i class="glyphicon glyphicon-chevron-right"></i>首页</a>
                </li>
                <li <% if(href === 'announcements') { %>class="active" <% } %>>
                    <a href="/main/announcements"><i class="glyphicon glyphicon-chevron-right"></i>公告管理</a>
                </li>
                <li <% if(href === 'posts') { %>class="active" <% } %>>
                    <a href="/main/posts"><i class="glyphicon glyphicon-chevron-right"></i>博文管理</a>
                </li>
                <li <% if(href === 'bloggers') { %>class="active" <% } %>>
                    <a href="/main/bloggers"><i class="glyphicon glyphicon-chevron-right"></i> 博主信息</a>
                </li>
                <li>
                    <a href="/main/logout"><i class="glyphicon glyphicon-chevron-right"></i>登出</a>
                </li>
            </ul>
        </div>