<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>multiply-person-blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<header>
<h1><%= title %></h1>
</header>

<nav>
    <span><a title="主页" herf="/">home</a></span>
<% if (user) { %>
    <span><a title="发表" herf="/post">post</a></span>
    <span><a title="登出" herf="/logout">logout</a></span>
<% } else { %>
    <span><a title="登录" herf="/login">login</a></span>
    <span><a title="注册" herf="/register">register</a></span>
<% } %>
</nav>

<article>
<% if (success) { %>
    <div><%= success %></div>
<% } %>
<% if (error) { %>
    <div><%= error %> </div>
<% } %>