<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- 我们通过 app.use(express.static(path.join(__dirname, 'public'))) 设置了静态文件目录为 public 文件夹 -->
    <!--  所以代码中的 href='/stylesheets/style.css' 就相当于 href='public/stylesheets/style.css'-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>欢迎<%= title %></p>
  </body>
</html>
