<%- include header %>

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">用户名：</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="name"
                   placeholder="请输入用户名">
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码：</label>
        <div class="col-xs-5">
            <input type="password" class="form-control" id="password"
                   placeholder="请输入密码">
        </div>
    </div>

    <div class="form-group">
        <label for="password_repeat" class="col-sm-2 control-label">确认密码：</label>
        <div class="col-xs-5">
            <input type="password" class="form-control" id="password_repeat"
                   placeholder="请输入确认密码">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱：</label>
        <div class="col-xs-5">
            <input type="email" class="form-control" id="email"
                   placeholder="请输入邮箱">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-xs-5">
            <button type="submit" class="btn btn-info col-sm-3">注册</button>
        </div>
    </div>

</form>
<%- include footer %>